<!DOCTYPE html>
<html>
<head>
    <title>마이 페이지</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mypage.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>마이 페이지</h1>
    </header>
    <main>
        <section class="balance">
            <h2>잔액</h2>
            <p>보유 현금: {{ user.money }}원</p>
            <p>보유 코인: {{ user.coin }}</p>
        </section>
        <section class="transaction">
            <h2>거래하기</h2>
            <h2>마켓에 남은 코인 개수: {{ market_coin }}</h2>
            <form action="/transaction" method="POST">
                <label for="transaction-type">거래 종류:</label>
                <select name="transaction-type" id="transaction-type">
                    <option value="sell">코인 판매</option>
                    <option value="buy">마켓에서 코인 구매</option>
                    <option value="deposit">입금</option>
                    <option value="withdraw">출금</option>
                </select>
                <br>
                <label for="amount">수량:</label>
                <input type="text" name="amount" id="amount">
                <br>
                <label for="price">가격:</label>
                <input type="text" name="price" id="price">
                <br>
                <div id="user-money" data-money="{{user.money}}"></div>
                <input type="submit" onclick="return check()" value="거래하기">
                <script>
                    function check() {
                        var transaction_type = document.getElementById("transaction-type").value;
                        var amount = document.getElementById("amount").value;
                        var price = document.getElementById("price").value;
                        var money = document.getElementById("user-money").getAttribute("data-money");
                        if (transaction_type == "withdraw" && price > money) {
                            alert("잔액이 부족합니다.");
                            return false;
                        }
                        return true;
                    }
                </script>

            </form>
            <script>
                $(document).ready(function() {
                    $('#transaction-type').change(function() {
                        if ($(this).val() == 'deposit' || $(this).val() == 'withdraw') {
                            $('#amount').attr('disabled', true);
                            $('#price').attr('disabled', false);
                        } else if($(this).val() == 'buy'){
                            $('#amount').attr('disabled', false);
                            $('#price').attr('disabled', true);
                        } else{
                            $('#amount').attr('disabled', false);
                            $('#price').attr('disabled', false);
                        }
                    });
                });
                
            </script>
        </section>
        <section class="transaction-history">
            <h2>사용자 거래 내역</h2>
            <table>
                <thead>
                    <tr>
                        <th>날짜</th>
                        <th>종류</th>
                        <th>수량</th>
                        <th>가격</th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.timestamp }}</td>
                        <td>{{ transaction.transaction_type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>
